/* Establece la fuente para todos los elementos */
* {
    font-family: monospace;
}

/* Estilos para el encabezado e imagen */
#header {
    text-align: center;
}

#header img {
    width: 400px;
}

/* Contenedor principal */
#main-container {
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilos para los contenedores */
#converter-container,
#conversion-formulae {
    background-color: #e7e40d;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #000000;
    width: 100%;
}

/* Botón */
#converter-container button {
    padding: 8px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    font-weight: bold;
    font-size: larger;
}

/* Resultado */
#result {
    margin-top: 10px;
    font-weight: bold;
    font-size: larger;
    background-color: #ffff;
}

/* Tabla de fórmulas */
table {
    text-align: center;
}

/* Texto de fórmula */
.formulae {
    text-align: center;
}

/* Alineación de texto */

.for-result {
    text-align: center;
    font-weight: bold;
}

/* Media query para tamaños de pantalla mayores a 768px */
@media (min-width: 768px) {
    #main-container {
        flex-direction: row;
    }

    #converter-container,
    #conversion-formulae {
        width: calc(50% - 20px);
    }
}
